.card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__figure:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        transition-property: box-shadow, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        & .card__text {
            transform: translateY(0);
            transition-property: transform;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__container {
        position: relative;
        overflow: hidden;
    }

    &__figcap {
        border: 1px solid #eeeeee;
        border-top: none;
        margin-top: 0;
        padding: 24px 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__desc {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #ffffff;
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(33, 150, 243, 0.9);
        padding: 10px;
        transform: translateY(101%);
        transition: transform 250ms ease-in;
        padding: 49px 45px 49px 24px;
    }
}