.join {
    width: 206px;
    height: 80px;
    margin-top: 12px;

    &__title {
        color: $join-us;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    &__item {
        fill: $svg-first-color;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    }
}