.team {
    background-color: $second-background-color;

    &__position {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__photo {
        background-color: $photos-background;
    }

    &__text {
        padding: 30px 0;
        text-align: center;
    }

    &__member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
    }

    &__profession {
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: $second-color;
    }

    &__socials {
        fill: var(--icons-svg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 16px;
    }

    &__social {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        fill: #afb1b8;
        border-radius: 50%;

        &:is(:hover, :focus) {
            fill: $svg-first-color;
            transition-property: fill;
            background-color: $svg-first-background-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}