    $active-color: #2196f3;
    $logo-header-dark: black;
    $logo-footer: white;
    $logo-web: #2196f3;
    $first-color: white;
    $second-color: #757575;
    $first-background-color: #2f303a;
    $main-btn: #2196f3;
    $second-background-color: #f5f4fa;
    $photos-background: #ffffff;
    $address: white;
    $btns: white;
    $icons-svg: #afb1b8;
    $svg-first-color: #ffffff;
    $svg-first-background-color: #2196f3;
    $svg-second-background-color: #f5f4fa;
    $join-us: white;
    $img-title: #ffffff;
    $x-modal-color: #2196f3;
    $x-modal-background: #757575;
    $footer-newsletter-label: #fff;
    $footer-background-button: #2196f3;
    $footer-text-button: #fff;
    $footer-newsletter-email: #2f303a;
    $modal-buton-background: #2196f3;
    $modal-buton-text: #fff;
    $modal-regulamin: #757575;
    $modal-privacy: #2196f3;
    $modal-focus: #2196f3;
    $modal-checkbox: #2196f3;
    $modal-input-border: #2196f3;
    $modal-input-icon: #2196f3;
    $footer-input-text: #fff;
    $footer-input-email-active: #2196f3;